# Ignorar arquivos de planilhas Excel
*.xlsx
imoveis.xlsx


# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de cache e configurações locais
__pycache__/
*.py[cod]

# Ignorar ambientes virtuais
env/
venv/
